@charset "UTF-8";
body,html{
    height: 98vh;
    width: 98vw
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media screen and (orientation: landscape) {
    body{
        background-image: url(imagens/back-tablet.jpg);
    }
}
@media screen and (orientation: portrait) {
    body{
        background-image: url(imagens/back-tv.jpg);
    }
}